body {
	background-color: #f6e094;
}
#container {
}
.title {
	width:500px;
	height: 40px;
	text-align: center;
	margin-bottom: 5px;
	background-color: #c5d6c6;
	border: 3px solid #F60;
	border-radius: 10px;
}
.title  h1{
	font-family: 'Alfa Slab One', sans-serif;
	word-spacing: 0.4em;
	letter-spacing: 0.2em;
	margin: 0;
	color: #900;
}
.frame {
	margin-left: auto;
	margin-right: auto;
	background-color: #600;
	padding: 10px;
	width:505px;
	height: 100%;
	border: 3px solid #666;
	border-radius: 10px;
}
.scoreBox {
	width: 66%;
	height: 80px;
	text-align: right;
	margin-bottom: -35px;
}
#scoreCircle {
	width: 80px;
	height: 80px;
	margin-left: 200px;
	background-color: #c5d6c6;
	border: 3px solid #F60;
	border-radius: 50%;
}
.intructBox {
	font-family: verdana, sans-serif;
	width:480px;
	height: 100%;
    margin: 5px;
	padding: 10px;
    background-color: #ffffff;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
	border-radius: 10px;

}