body {
	background-color: #f6e094;
}
#container {
	margin-left: auto;
	margin-right: auto;
	width:505px;
}
.title {
	width:500px;
	height: 40px;
	text-align: center;
	background-color: #c5d6c6;
	border: 3px solid #146044;  
	border-radius: 10px;
}
.title  h1{
	font-family: 'Alfa Slab One', sans-serif;
	word-spacing: 0.4em;
	letter-spacing: 0.2em;
	margin: 0;
	color: #900;
}
.frame {
	margin-left: auto;
	margin-right: auto;
	background-color: #600;
	padding: 10px;
	width:505px;
	height: 100%;
	border: 3px solid #333;
	border-radius: 10px;
	-webkit-box-shadow: 0px 8px 18px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 8px 18px 5px rgba(0,0,0,0.75);
	box-shadow: 0px 8px 18px 5px rgba(0,0,0,0.75);
}
#gameCanvas {
	margin-top: -35px;
}
.scoreBox {
	width: 45%;
	height: 86px;
	text-align: right;
	padding-top: 15px;
}
#scoreCircle {
	width: 80px;
	height: 80px;
	margin-left: 130px;
	background-color: #c5d6c6;
	border: 3px solid #146044;
	border-radius: 50%;
}
.intructBox {
	font-family: verdana, sans-serif;
	width:480px;
	height: 100%;
    margin: 5px, 0, 5px, 0;
	padding: 10px;
    background-color: #ffffff;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
	border: 3px solid #666;
	border-radius: 10px;

}
.controls {
	position: relative;
	height: 120px;
}
#leftArrow, #rightArrow, #upArrow, #downArrow, #reset { 
	position: absolute;
	width: 80px;
	height: 40px;
	background-color: #666;
	border: 3px solid #333;
	border-radius: 10px;
	text-align: center;
}
#reset {
	font-family: verdana, sans-serif;
	line-height: 2.2;
	color: white;
	left: 20px;
	top:35px;
}
#leftArrow { 
	left: 230px;
	top:35px;
}
#rightArrow {
	left: 410px;
	top: 35px;
}
#upArrow {
	left: 320px;
	top: 0;
}
#downArrow {
	left: 320px;
	top: 70px;
}
#upArrow img, #downArrow img {
	margin-top: 5px;
}
#leftArrow img, #rightArrow img {
	margin-top: 1px;
}
